#fr_progress {
  width: 100%;
  background-color: grey;
}

#fr_bar {
  width: 0%;
  height: 30px;
  background-color: #3F3F3F;
  position: absolute;
  left: 0;
  bottom: -40px;
}

#fr_container {
  position: fixed;
  top: 50vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
}

._3z_5, ._59tßg {
  background-color: #abc !important;
}


#pagelet_dock, #pagelet_sidebar, .uiToggle._4962._1z4y, ._2s25._606w::after, ._2s25._606w > img, img._62bh._8o._8r._2qgu, img._10cu._8o._8r, ._5bov {
  display: none;
}

/*hide the trending stories, popup, nextnotification, recent logins, logoutbadgenotific*/
._5mym, ._10.uiLayer._4-hy._3qw, ._53ij, ._4bl9._ihf._8wm, ._51lp._1gb4 {
  display: none;
}

.fbFeedTicker {
  display: none;
}

#newsfeed_toggle {
  font-size: 10px;
}

#cancel_btn {
  padding: 10px 60px;
  font-size: 2em;
  border-radius: 5px;
  border: none;
  background-color: #2ea907;
  color: white;
}

#cancel_btn:hover {
  background-color: #00CE12;
}
