#fr_progress {
    width: 100%;
    background-color: grey;
}
#fr_bar {
    width: 0%;
    height: 30px;
    background-color: #3F3F3F;
}

#fr_container {
  position: fixed;
  top: 50vh;
}

._3z_5, ._59tg {
  background-color: #abc !important;
}



#pagelet_dock, #pagelet_sidebar, .uiToggle._4962._1z4y, ._2s25._606w > img, img._62bh._8o._8r._2qgu, img._10cu._8o._8r {
  display: none;
}


#blocker {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: white;
}
